<!-- app/views/orders/show.html.erb -->
<% @order.order_items.each do |item| %>
  <div>
    <p>Product: <%= item.product.name %></p>
    <p>Quantity: <%= item.quantity %></p>
    <p>Price: <%= item.price %></p>
  </div>
<% end %>
<p><strong>Total Price:</strong> <%= @order.total_price %></p>
<p><%= link_to 'Back', orders_path %></p>